N = 10000      # We define the global parameters
vres = 100
vref = -vres/10
ti = 0
Tmax= 50
dt=0.001
ventana = 0.015
tau = int(ventana/dt)
refractory_period = ((4/vres)/dt) #200  # You can adjust this value as needed.
t0 = 10
t2 = 30
Iexc = 5
Iinh = 0
sn = 1/dt
couplingee = 0
couplingie = 10
couplingei = 10
couplingii = 0
delta = 1
x0e = 5
x0i = -5
SDe = 0 #Where I want the Fre to start
n0e = -3 #Where I want the Ve to start
SDi = 0 #Where I want the Fri to start
n0i = -3 #Where I want the Vi to start